@use "../base/variables" as *;
@use "../base/mixins" as *;

weather-card {
  @include card-elevation();
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: $card-shadow;
  transition: $transition-speed;
  background-color: white;

  // Elemento
  &__temp {
    font-size: 2rem;
    font-weight: bold;
    color: $primary-color;
  }
  
  &__title{
    font-size: 1.25rem;
    font-weight:bold;
      margin-bottom: 0.5rem;
  }

    &__status {
    padding: 5px 10px;
    border-radius: 20px;
  }
    &--hot {
    border-top: 5px solid orange;
  }
   &:hover {
    transform: translateY(-5px);
    border-color: $primary-color;
  }
}